html,body {
  background: #000;
  color: #fff;
}
.App {

  max-width: 1440px;
  padding: 0 96px;
  margin: 0 auto;

}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Peoples {
  clear: right;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}
.container {
    min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 0px #fff;
  -webkit-transition:  box-shadow .2s ease-out;
     box-shadow: .8px .9px 3px #fff;
}
.card:hover{
     box-shadow: 1px 8px 20px #fff;
    -webkit-transition:  box-shadow .2s ease-in;
  }
img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h3 {
  padding-left: 10px;
}
.searchWrapper {
  float: right;
  width: 20%;
  margin: 20px 0;
  color:#000 !important;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  float: left;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  margin: 0 3px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
.loading {
  padding: 50px;
}
